/*
  Jackson Kettel
  10/9/2024

  This is a style sheet for applying css to all of the html pages for this project.
  It primarily focuses in the about.html page, but applies a few styles to the other two pages.
*/

html, body {
  background-image: url('img/background.jpg');
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

header {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
}

img {
  border-radius: 50%;  
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin-right: 2%;
}

#profile, #links {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
}

#links a, #links img {
  display: flex;
  justify-content: center;
  width: 50%;
}

section {
  display: flex;
  flex-direction: column;
  width: 80%;
  color: white;
  font-family:'Poppins', sans-serif;
  padding-left: 10%;
}

a {
  font-size: large;
}

a:visited {
  color: white;
}

#title {
  color: white;
}