/*
  Jackson Kettel
  10/9/2024

  WRITE A 2-3 SENTENCE FILE DESCRIPTION HERE
*/

body {

}

img {
  display: flex;
  width: 20%;
  height: 20%;
  border-radius: 50%;  
}

/*
  - Must have flexbox or grid for styling and structure
  - 4 different rulesets in addition to the body ruleset (one must use a combinatorial selector, and the other a grouped comma-seperated selector)
  - 10 different css properties, in addition to the 5 provided (background-color, font-family, margin-left, margin-right, width)
  - One google font imported and used with an appropriate font (import into the head of html using link
*/