/*
  Jackson Kettel
  10/9/2024

  WRITE A 2-3 SENTENCE FILE DESCRIPTION HERE
*/

html, body {
  background-image: url('img/background.jpg');
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

header {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 50%;  
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  margin-right: 2%;
}

#profile, #links {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
}

#links a, #links img {
  display: flex;
  justify-content: center;
  width: 50%;
}

section {
  width: 60%;
  color: white;
  font-family: sans-serif;
}

a {
  font-size: large;
}

a:visited {
  color: white;
}




/*
  - Must have flexbox or grid for styling and structure
  - 4 different rulesets in addition to the body ruleset (one must use a combinatorial selector, and the other a grouped comma-seperated selector)
  - 10 different css properties, in addition to the 5 provided (background-color, font-family, margin-left, margin-right, width)
  - One google font imported and used with an appropriate font (import into the head of html using link
*/